<article class="card">
  @if (post.coverImage) {
    <div class="card-cover-wrapper">
      <img [src]="post.coverImage" [alt]="post.title" class="card-cover">
    </div>
  }
  <div class="card-body">
    <div class="card-meta">
      @if (post.tags.length) {
        <span class="card-tag">{{ post.tags[0] | uppercase }}</span>
      }
      <span class="card-date">{{ (post.publishedAt || post.createdAt) | date:"MMMM dd, yyyy" | uppercase }}</span>
    </div>
    <h2 class="card-title">
      <a [routerLink]="['/post', post.id]">{{ post.title }}</a>
    </h2>
    <div class="card-excerpt">{{ excerptText }}</div>
    <a [routerLink]="['/post', post.id]" class="card-read-more">Continue lendo</a>
  </div>
</article>
